a {
  text-decoration: none;
}

body {
  background-color: aliceblue;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 0px 0 10px;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

strong {
  color: #f68111;
}

ul {
  padding-left: 0px;
}

.active {
  color: #272142;
  cursor: default;
}

.active:hover {
  color: #272142;
}

.last-updated {
  text-align: right;
  color: darkgray;
  margin-bottom: 0px;
}

.app {
  margin: 60px auto;
  max-width: 750px;
}

.btn-primary {
  background-color: #67bae1;
  border-color: #67bae1;
}

.container {
  background: white;
  border-radius: 10px;
  padding: 60px 60px;
}

.no-background {
  background: none;
  padding: 10px 10px;
}

.current-weather-icon {
  height: 104px;
  width: 104px;
}

.forecast-temperatures {
  margin-top: 4px;
}

#temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -34px;
}

.weather-info {
  margin-top: 20px;
}

.weather-forecast {
  text-align: center;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.forecast-date {
  opacity: 0.5;
}
